.logo {
    color: black;
    align-content: center;
    align-items: center;
  }

  *ae {
    align-content: center;
    align-items: center;
  }
  .container {
    display: grid;
    width: 800px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 150px);
    grid-gap: 1rem;
  }
  
  
  /* OTHER STYLES */
  body {
    background-color: #3b404e;
    height: 100%;
    /*display: flex; */
    justify-content: center;
    align-items: center;
  }
  
  .item {
    background-color: #1EAAFC;
    background-image: linear-gradient(130deg, #6C52D9 10%, #1EAAFC 5%, #3EDFD7 100%);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    color: #fff;
    border-radius: 4px;
    border: 6px solid #171717;
  }